html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
body{width:100%;*zoom:1;}
body:before,body:after{content:"";display:table}
body:after{clear:both}
#maincolumn{display:inline;float:left;width:72.91666666666666%;margin:0 1.0416666666666665%;*width:72.86458333333333%;*margin:0 .9895833333333331%}
#sidebar{display:inline;float:left;width:22.916666666666664%;margin:0 1.0416666666666665%;*width:22.864583333333332%;*margin:0 .9895833333333331%}
header.logo{display:inline;float:left;width:97.91666666666666%;margin:0 1.0416666666666665%;*width:97.86458333333333%;*margin:0 .9895833333333331%;padding:.5em .5em .5em 0;}
header.logo h1{font-size:20px}
body{margin:0 auto;max-width:1200px}
@media screen and (max-width: 720px){#maincolumn,#sidebar{display:inline;float:left;width:97.91666666666666%;margin:0 1.0416666666666665%;*width:97.86458333333333%;*margin:0 .9895833333333331%;margin-bottom:1em}
}body{font-family:"PT Serif",Georgia,Times,"Times New Roman",serif;line-height:1.5em;font-size:18px;color:#222}
h1,h2,h3,h4,h5,h6{text-rendering:optimizelegibility;margin-bottom:1em;font-weight:bold}
h1{font-size:2.6em;line-height:1.2em;}
h1 a{text-decoration:none;color:#222;}
h1 a:visited{color:#222}
h1 a:hover{color:#0181eb;text-decoration:underline}
h2{font-size:1.5em}
a{color:#1863a1;}
a:visited{color:#8418a1}
a:focus{color:#15558b}
a:hover{color:#1f7ecd}
a:active{color:#15558b}
article h2{padding-top:.8em;border-top:1px dotted #ddd}
p,blockquote,ul,ol{margin-bottom:1.5em}
em,dfn{font-style:italic}
.meta{font-family:"PT Sans","Helvetica Neue",Arial,sans-serif;font-size:.9em}
pre.highlighted{font-family:Menlo,Monaco,'Andale Mono','lucida console','Courier New',monospace;font-size:.8em;margin-bottom:1.5em}
.small{font-size:.9em}
aside#sidebar section{font-size:.8em;line-height:1.4em;margin-bottom:1.5em;}
aside#sidebar section h2{margin:1.5em 0 0;padding-bottom:.8em;border-bottom:1px solid #e0e0e0}
aside#sidebar section li{list-style:none;padding:.5em 0;margin:0;border-bottom:1px solid #e0e0e0}
aside#sidebar section a{color:inherit}
#tweets a{text-decoration:none}
#tweets datetime{display:block;color:#aaa}
#content{border-right:1px solid #e0e0e0;padding-right:2em}
article{padding-bottom:4em;}
article header{position:relative;margin-bottom:1.5em;padding-top:3em}
article .meta{position:absolute;top:0;text-transform:uppercase;color:#aaa}
.post .postmeta{color:#aaa;margin-bottom:.8em;font-size:.85em;clear:both;overflow:hidden;}
.post .postmeta date,.post .postmeta .tags{padding:0 .4em 0 .2em;display:inline-block;}
.post .postmeta date:before,.post .postmeta .tags:before{content:"\2022  "}
.post .sharing{padding-top:1em;border-top:1px dotted #ddd}
.blog-index article{border-top:1px dotted #ddd;padding-top:2em}
